<?xml version="1.0"?>
<launch>
     


     <arg name="dbg_args"   default="gdb -ex run --args"/>
     <arg name="debug_args"   default=""/>

     <node pkg="control_to_stair" type="pixel_control_to_stair_ros" name="pixel_control_to_stair_ros_node" launch-prefix="$(arg debug_args)" output="screen">
          <param name="update_rate"            value="5"/>
          <param name="stair_center_pixel_sub_topic"    value="front_cam/camera/center_pixel"/>
          <param name="control_to_stair_cmd_vel_topic"    value="stair_nav/cmd_vel_stair"/>
          <param name="control_to_stair_flag_topic"    value="stair_nav/cmd_vel_stair_flag"/>
          <param name="rotation_start_threshold"    value="100"/>
          <param name="rotation_end_threshold"    value="75"/>
          <param name="angular_vel_p_gain"    value="0.0005"/>
          <param name="duration_for_reset_target"    value="1.5"/>
          <param name="weight_of_lpf"    value="0.15"/>
          <param name="linear_vel"    value="0.1"/>
          <param name="target_row_center"    value="424"/>
          <param name="stair_case_close_tolerance"    value="2"/>
          <param name="detection_count_th"    value="3"/>


<!-- pre searching parameter -->
          <param name="presearch_operation_flag"    value="false"/>
          <param name="presearch_ang_vel"    value="0.05"/>
          

          
                 
     </node>


</launch>
